{% extends 'layout.twig' %}

{% block body %}
  <style>
    .docs-header__button {
      visibility: hidden;
    }
  </style>
  <section data-module="writing">
    <textarea name="module-settings" hidden>
      {
        "page": {{ page | json_encode | escape }}
      }
    </textarea>
    <header class="writing-header">
      <span class="writing-header__left">
        <span>
        New Page at the
        {% set currentPageId = 0 %}
        {% if page is not empty %}
          {% set currentPageId = page._id %}
        {% endif %}
          <select name="parent">
            <option value="0">Root</option>
            {% for _page in pagesAvailable %}
              {% if _page._id != currentPageId %}
                <option value="{{ _page._id }}" {{ page is not empty and page._parent == _page._id ? 'selected' : ''}}>
                  {% if _page._parent != "0" %}
                    &nbsp;
                    &nbsp;
                  {% endif %}
                  {{ _page.title }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </span>

        {% if parentsChildrenOrdered is not empty %}
          <span>
            Put Above
            <select name="above">
              <option value="0">—</option>
              {% for _page in parentsChildrenOrdered %}
                <option value="{{ _page._id }}">{{ _page.title }}</option>
              {% endfor %}
            </select>
          </span>
        {% endif %}
      </span>

      {% if page is not empty %}
        <p><input type="text" class="uri-input" name="uri-input" placeholder="URI (Optional)" value="{{ page.uri }}"></p>
      {% endif %}
    </header>
    <div class="writing-editor">
      <div id="editorjs"></div>
    </div>

    <div class="writing-buttons">
      {% include 'components/button.twig' with {label: 'Save changes', name: 'js-submit-save', icon: 'check'} %}
      {% if page._id is not empty %}
          {% include 'components/button.twig' with {label: 'Delete doc', name: 'js-submit-remove', icon: 'trash', style: 'warning'} %}
      {% endif %}
    </div>

  </section>
{% endblock %}
