<h{{ level }} id="{{ linkNumber }}-{{ text | urlify  }}" class="block-header block-header--{{ level }} block-header--anchor">
  <a href="#{{ linkNumber }}-{{ text | urlify  }}">
    {{ text }}
  </a>
</h{{ level }}>

