{% set width = data.width|default('100%') %}
{% set alignment = data.alignment|default('center') %}

<figure class="block-image" style="width: {{ width }}; max-width: 100%; margin: 
  {% if alignment == 'left' %}0 auto 0 0
  {% elseif alignment == 'right' %}0 0 0 auto
  {% else %}0 auto
  {% endif %};">
  <div class="{{ classes.join(' ') }}">
    {% if file.mime and file.mime == 'video/mp4' %}
      <video controls style="width: 100%;">
        <source src="{{ file.url }}" type="video/mp4">
      </video>
    {% else %}
      <img 
        src="{{ file.url }}" 
        alt="{{ caption ? caption | striptags : '' }}"
        style="width: {{ width }};"
      >
    {% endif %}

  </div>
  {% if caption %}
    <footer class="block-image__caption">
      {{ caption }}
    </footer>
  {% endif %}
</figure>
