{% set alignment = alignment|default('center') %}
{% set filetype = filetype|default('file') %}

<figure class="block-video" style="margin: 
  {% if alignment == 'left' %}0 auto 0 0
  {% elseif alignment == 'right' %}0 0 0 auto
  {% else %}0 auto
  {% endif %};">
  <div class="{{ classes.join(' ') }}">
    {% if filetype == 'youtube' or filetype == 'rutube' %}
      <iframe 
        src="{{ url }}" 
        frameborder="0" 
        allowfullscreen
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      ></iframe>
    {% else %}
      <video controls>
        <source src="{{ url }}" type="{{ mime|default('video/mp4') }}">
        Ваш браузер не поддерживает видео тег.
      </video>
    {% endif %}
  </div>
  {% if caption %}
    <footer class="block-video__caption">
      {{ caption|raw }}
    </footer>
  {% endif %}
</figure>