<!DOCTYPE html>
<html>
<head>
  <title>{{ config.title }}</title>
  <link rel="stylesheet" href="/dist/main.css" />
</head>
<body>
{% include "components/header.twig" %}
<div class="editor-landing">
  <div class="editor-landing__info">
    <div class="editor-landing__logo">
      <span class="editor-landing__logo-main">
        <svg width="84" height="84" viewBox="0 0 84 84" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="editorjs-logo-a"><stop stop-color="#39FFD7" offset="0%"/><stop stop-color="#308EFF" offset="100%"/></linearGradient></defs><g fill-rule="nonzero" fill="none"><circle fill="url(#editorjs-logo-a)" cx="42" cy="42" r="42"/><rect fill="#FFF" x="38" y="17" width="8" height="50" rx="4"/><rect fill="#FFF" x="17" y="38" width="50" height="8" rx="4"/></g></svg>
      </span>
      <span class="editor-landing__logo-shadow">
        <svg width="158" height="160" viewBox="0 0 158 160" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient x1="50%" y1="10.449%" x2="50%" y2="91.174%" id="edjls-a"><stop stop-color="#217DE9" stop-opacity=".919" offset="0%"/><stop stop-color="#308EFF" offset="100%"/></linearGradient><filter x="-81.4%" y="-81.4%" width="262.9%" height="262.9%" filterUnits="objectBoundingBox" id="edjls-b"><feGaussianBlur stdDeviation="19" in="SourceGraphic"/></filter></defs><circle filter="url(#edjls-b)" cx="163" cy="116" r="35" transform="translate(-84 -37)" fill="url(#edjls-a)" fill-rule="nonzero"/></svg>
      </span>
    </div>

    <h1 class="editor-landing__title">
      Editor.js
    </h1>
    <div class="editor-landing__description">
      Next generation block styled editor. <br> Free. Use for pleasure.
    </div>

    <a class="editor-landing__cta" href="http://github.com/codex-team/codex.editor">
      Get started
    </a>

    <div class="editor-landing__menu">
      <a href="http://github.com/codex-team/codex.editor">
        Current version
        <span class="editor-landing__version">
          ?.?.?
        </span>
      </a>
      <br>
      <a class="editor-landing__links-item" target="_blank" href="https://github.com/codex-team/codex.editor/blob/master/docs/usage.md">
        Documentation
      </a>
      <br>
      <a class="editor-landing__links-item" target="_blank" href="https://github.com/codex-editor">
        Plugins
      </a>
      <br>
      <a class="editor-landing__links-item" target="_blank" href="https://github.com/codex-editor">
        Changelog
      </a>
    </div>
  </div>
  <div class="editor-landing__demo" data-module="landing">
    <module-settings hidden>
      {
      "output_id" : "output",
      "blocks" : []
      }
    </module-settings>

    <div class="editor-landing__demo-inner">
      <div id="codex-editor"></div>
    </div>

    <section class="editor-landing__section-header">
      <header>
        And here is a generated CLEAN data
      </header>
      Use it in Web, mobile, APM, Instant Articles, speech readers — everywhere. Easy to sanitize, extend and integrate with your logic.
    </section>
    <div class="editor-landing__preview">
      <div class="editor-landing__preview-inner">
        <pre id="output"></pre>
      </div>
    </div>
  </div>

  <section class="editor-landing__section-header editor-landing__section-header--big">
    <header>
      API is the feature.
    </header>
    Each Block provided by plugin. It's really easy to create your own. Dozens of created.
  </section>

  <div class="editor-landing__plugins">
    <h4 class="editor-landing__plugins-title">
      Best plugins
    </h4>
    <div class="editor-landing__plugins-description">
      Plugins can represent any Blocks: Quotes, Galleries, Polls, Embeds, Tables — anything you need. Also they can implement Inline Tools such as Marker, Term, Comments etc.
    </div>

    {% for plugin in plugins %}
      <div class="editor-plugin clearfix">
        <div class="editor-plugin__demo">
          {% if 'mp4' in plugin.demo %}
            <video autoplay loop muted playsinline>
              <source src="{{ plugin.demo }}" type="video/mp4">
            </video>
          {% else %}
            <img src="{{ plugin.demo }}" alt="{{ plugin.name }} Tool for Editor.js">
          {% endif %}
        </div>
        <a href="{{  plugin.url }}" target="_blank">
          <h3 class="editor-plugin__title">
            {{ plugin.name }}
          </h3>
          <span class="editor-plugin__label">
            {{ plugin.type }}
          </span>
        </a>
        <div class="editor-plugin__description">
          {{ plugin.description }}
        </div>
        <div class="editor-plugin__contributors">
          {% for user in plugin.contributors %}
            <a href="https://github.com/{{ user.name }}" class="editor-plugin__contributors-item" title="{{ user.name }}" target="_blank">
              <img src="{{ user.photo }}" alt="{{ user.name }}">
            </a>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    {%
      set ownTool = "<span style='color:#b83370'>class</span> <span style='color:#8c74b2'>MyTool</span> {
  render() {
    <span style='color:#b83370'>return</span> document.createElement(’textarea’);
  }
  save(textarea) {
    <span style='color:#b83370;'>return</span> {
      text: textarea.value
    }
  }
}"
    %}
    <div class="editor-plugin editor-plugin--your-own">
      <h3 class="editor-plugin__title">
        Your own plugin
      </h3>
      <div class="editor-plugin__description">
        Just implement <i>render</i> and <i>save</i> methods.
      </div>
      <div class="editor-plugin__demo">
        <pre>{{ ownTool }}</pre>
      </div>
      <div class="editor-plugin__footer">
        To make it cool, take a look at the <a href="https://github.com/codex-team/codex.editor/blob/master/docs/tools.md">API</a>.
      </div>
    </div>
    <div class="editor-landing__actions clearfix">
      <a class="editor-landing__more-plugins" href="https://github.com/codex-editor" target="_blank">
        View all plugins
      </a>
      <a class="editor-landing__contribute" href="#">
        <? include(DOCROOT . '/public/app/landings/editor/svg/plus-icon.svg'); ?>
        Contribute your plugin to this featured list
      </a>
    </div>

    <section class="editor-landing__section-header editor-landing__section-header--big">
      <header>
        Loved by
      </header>
      Thousands of people already write with us.
      <div class="editor-landing__loved-by">
        <a rel="nofollow" class="editor-landing__loved-by-item" target="_blank" href="//tjournal.ru">
          <svg width="27" height="28"><g fill-rule="nonzero" fill="none"><path fill="#3A3A3B" opacity=".5" d="M0 21.28h9.52V28H0z"/><path fill="#3A3A3B" d="M0 7.84h9.52V28l7.28-6.72V7.84h10.08V0H0z"/><path fill="#51535A" opacity=".604" d="M8.4 21.28h1.12V28z"/></g></svg>
        </a>
        <a rel="nofollow" class="editor-landing__loved-by-item" target="_blank" href="//dtf.ru">
          <svg width="74" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M15.074 0H0v24h15.074c5.232 0 9.486-4.157 9.486-9.27V9.27C24.561 4.156 20.306 0 15.074 0zm3.309 14.73c0 1.783-1.483 3.235-3.308 3.235h-8.9V6.035h8.9c1.823 0 3.307 1.448 3.307 3.234v5.462h.001zm7.921-8.696h8.623V23.95h6.176V6.034h8.623V0H26.304v6.034zm46.74 0V0H53.101v23.95h6.175v-7.056h10.416v-6.031H59.277V6.034h13.766z" fill-rule="nonzero" fill="#51535A"/></svg>
        </a>
        <a rel="nofollow" class="editor-landing__loved-by-item" target="_blank" href="//vc.ru">
          <svg width="31" height="29" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero" fill="#3A3A3B"><path d="M24.086 12.999c2.225 0 3.9-.932 5.135-2.556l-1.652-1.27a4.343 4.343 0 0 1-3.483 1.735c-2.416 0-4.16-1.977-4.16-4.408s1.72-4.52 4.233-4.52c1.115 0 1.906.263 2.595.694v2.137h2.078V1.697l-.398-.314C27.288.478 25.545 0 24.086 0c-3.562 0-6.46 2.916-6.46 6.5 0 3.583 2.898 6.499 6.46 6.499zM28.398 25.827l-.073-2.994v-7.307h-4.333v2.092h2.145v4.954c0 2.137-1.623 3.647-3.257 3.647-1.635 0-2.488-1.141-2.488-3.278v-7.415h-4.048v2.092h1.86v5.692c0 2.896 1.614 4.89 4.492 4.89 1.653 0 2.915-.92 3.667-2.348h.033l.297 1.992h3.327v-2.017h-1.622zM17.146.306H13.54l-3.14 9.174h-.049L7.226.306H3.379v2.091H5.54l3.724 10.457h1.98v-.002.001l3.881-10.456h2.021zM0 27.91h2.137v-2.15H0zM8.26 17.95h-.024L8.1 15.527H4.28v1.907h2.035v8.393H4.282v2.018h9.436v-1.981h-5.25v-5.067c.236-1.833 1.603-3.4 3.466-3.4h.034l-.035 1.874h2.078v-3.785h-1.64c-1.884 0-3.28 1.025-4.11 2.466z"/></g></svg>
        </a>
      </div>
    </section>

    <section class="editor-landing__section-header editor-landing__section-header--big">
      <header>
        Support Team
      </header>
      We will be really glad and inspired by <b>every</b> star of the project. It helps community to grow, build new cool plugins and core features.

      <br>
      <div class="editor-landing__star">
        <div class="editor-landing__star-line"></div>
        <div class="editor-landing__star-line"></div>
        <div class="editor-landing__star-line"></div>

        <a class="github-button" href="https://github.com/codex-team/codex.editor" data-icon="octicon-star" data-size="large" aria-label="Star codex-team/codex.editor on GitHub">Star</a>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
      </div>
    </section>

  </div>
</div>
<script src="/dist/main.bundle.js"></script>
</body>
</html>

