<div class="docs-aside-toggler" onclick="document.querySelector('.docs-aside').classList.toggle('docs-aside--toggled')">
	{{ svg('menu') }}
	Table of contents
</div>
<div class="docs-aside">
	<div class="docs-aside__section-wrapper">
		{% for firstLevelPage in menu %}
			<section class="docs-aside__section">
				<a {% if page is defined and page._id == firstLevelPage._id%} class="docs-aside__section-title docs-aside__current" {% else %} class="docs-aside__section-title" {% endif %} {% if firstLevelPage.uri %} href="/{{ firstLevelPage.uri }}" {% else %} href="/page/{{ firstLevelPage._id }}" {% endif %}>
					{{ firstLevelPage.title | striptags }}
				</a>
				{% if firstLevelPage.children is not empty %}
					<ul class="docs-aside__section-list">
						{% for child in firstLevelPage.children %}
							<li>
								<a {% if page is defined and page._id == child._id %} class="docs-aside__current" {% endif %} {% if child.uri %} href="/{{ child.uri }}" {% else %} href="/page/{{ child._id }}" {% endif %}>
									{{ child.title | striptags }}
								</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</section>
		{% endfor %}
	</div>
	<a class="docs-aside__logo-wrapper" href="https://github.com/codex-team/codex.docs">
		<div class="logo">
			{{ svg('aside-logo') }}
		</div>
		<div class="caption">
			<span>Powered by CodeX Docs</span>
		</div>
	</a>
</div>
