<div class="docs-aside-toggler" onclick="document.querySelector('.docs-aside').classList.toggle('docs-aside--toggled')">
  {{ svg('menu') }} Table of contents
</div>
<div class="docs-aside">
    {% for firstLevelPage in menu %}
      <section class="docs-aside__section">
        <a
          {% if page._id == firstLevelPage._id%}
            class="current-page docs-aside__section-title "
          {% else %}
            class="docs-aside__section-title "
          {% endif %}
          {% if firstLevelPage.uri %}
            href="/{{ firstLevelPage.uri }}"
          {% else %}
            href="/page/{{ firstLevelPage._id }}"
          {% endif %}>
          {{ firstLevelPage.title | striptags }}
        </a>
        {% if firstLevelPage.children is not empty %}
          <ul class="docs-aside__section-list">
            {% for child in firstLevelPage.children %}
              <li>
                <a
                {% if page._id == child._id %}
                  class="current-page"
                {% endif %}
                {% if child.uri %}
                  href="/{{ child.uri }}"
                {% else %}
                  href="/page/{{ child._id }}"
                {% endif %}>
                  {{ child.title | striptags }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </section>
    {% endfor %}
</div>
