<header class="docs-header">
  <a href="/" class="docs-header__logo">
    {{ config.title }}
  </a>
  <ul class="docs-header__menu-add">
    <li>
      {% if isAuthorized == true %}
        <a class="docs-header__button" href="/page/new">
          {{ svg('plus') }}
          Add Page
        </a>
      {% endif %}
    </li>
    {% for option in config.menu %}
      <li>
        <a
          {% if child.uri %}
            href="{{ option.uri }}"
          {% else %}
            href="/page/{{ option._id }}"
          {% endif %}>
          {{ option.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</header>
